@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: url('./logo.svg');
  background-size: 128px;
  background-position: top 20px right 20px;
  background-repeat: no-repeat;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-image: url('./wavy-lines.svg'); */
  background-size: cover;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  padding: 16px;
}
